@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Inter', sans-serif;
	color: #1c1c1c;
}

html,
body {
	overflow-x: hidden;
}

@layer utilities {
	.form-grid {
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	}
}
